.home--container{
    padding: 40px;
    margin-top: 50px;
    padding-bottom: 0;
}
.home--text--button > .big--font{
    font-size: 80px;
}
.home--text--button{
    justify-content: space-between;
}
.pill--cutout{
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 150px;
    border-radius: 150px;
    padding: 50px;
    position: relative;
}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}
.sideNuke{
    object-fit: contain;
    height: 35px;
}
.discuss--button{
    padding: 15px 35px;
    border-radius: 35px;
    border: 1px solid black;
    position: relative;
}
.discuss--button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.twinkle{
    position: absolute;
    width: 10px;
    left: 15px;
    top: 20px;
}
.discuss--your--ideas{
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin: 35px 0px;
}
.discuss--your--ideas > p{
    font-weight: 500;
    font-size: 20px;
}
.home--carousel--image--container{
    width: 100%;
    position: relative;
}
.home--carousel--image--container > img{
    object-fit: contain;
    margin-top: 80px;
}
.arrow--ball{
    background-color: black;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 10%;
    top: 0;
    box-shadow: 2px 2px 0px white;
}
.arrow--ball:hover{
    box-shadow: 5px 5px 0px white;
}
.arrow--ball > .icon{
    color: white;
    transform: rotate(45deg);
}
.arrow--ball:hover > .icon{
    transform: rotate(0deg);
    cursor: pointer;
}

.marquee--container{
    background-color: black;
    height: 10dvh;
    padding: 0px 25px;
    gap: 50px;
    margin-top: -5px;
}
.marquee{
    justify-content: space-between;
    color: white;
    gap: 50px;
}
.marquee > p{
    font-size: 24px;
}
.marquee > img{
    width: 50px;
}
.our--services--area--container{
    padding: 40px;
}
.our--services--area--container > .big--font{
    font-size: 69px;
}
.our--services--description{
    margin-top: 25px;
    justify-content: flex-start;
    gap: 20px;
}
.our--services--description > img{
    width: 18px;
}
.our--services--description > p{
    font-size: 18px;
    font-weight: 500;
}
.services--carousel--container{
    height: auto;
    margin-top: 60px;
}
.services--carousel--left{
    width: 40%;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: relative;
}
.services--carousel--left > .main--blob{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100%;
}
.service--floating--blob{
    position: absolute;
    top: 50px;
}
.sfb2, .sfb3{
    width: 70px;
    top: 10%;
}
.sfb2{
    left: 0;
}
.sfb3{
    right: 0;
    top: 20%;
}
.services--carousel--right{
    width: 100%;
    gap: 20px;
}
.service{
    background-color: rgb(218, 217, 217);
    padding: 25px;
    border-radius: 25px;
    align-items: flex-start;
    justify-content: space-between;
    height: 150px;
}
.service > div{
    align-items: flex-end;
    width: 100%;
}
.service--button{
    width: 40%;
    align-items: flex-start;
    justify-content: flex-start;
}
.service--button > a{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}
.service--button > a:hover{
    background-color: white;
    color: black;
}
.service--arrow{
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
}
.service--arrow > p{
    text-align: right;
}
.service--arrow > .arrow{
    transform: rotate(45deg);
}
.service1, .service3{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.service2{
    background-color: black;
    color: white;
}
.service2 p, .service2 a{
    color: white;
}
.service2 > div > .service--button > a{
    border: 1px solid white;
}
.our--team--heading{
    padding-top: 60px;
    justify-content: space-between;
}
.our--team--heading > .big--font{
    font-size: 3.5rem;
    width: 50%;
    margin-right: auto;
}
.our--team--heading > img{
    height: 150px;
    width: 150px;
    margin-right: 5%;
    object-fit: contain;
}
.team--members--tile--container{
    margin-top: 100px;
    gap: 25px;
}
.team--member--tile{
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    width: 40%;
    height: auto;
}
.team--member--tile > img{
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}
.member--details{
    background-color: rgb(224, 221, 221);
    padding: 10px;
    padding-top: 20px;
}
.member--name{
    font-size: 1.5rem;
    font-weight: 600;
}
.member--role{
    font-size: 0.9rem;
}
.team--members--tile--container{
    justify-content: space-evenly;
}
.lets--discuss--container{
    background-color: black;
    color: white;
    padding: 40px;
    padding-top: 70px;
    margin-top: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    gap: 35px;
}
.lets--discuss--container > div > p{
    font-size: 3.5rem;
    margin-left: auto;
    width: 60%;
    text-align: right;
}
.lets--discuss--container > div > img{
    object-fit: contain;
    height: 220px;
    width: 250px;
}
.footer--buttons{
    justify-content: space-around;
}
.footer--buttons > a{
    background-color: white;
    padding: 15px 25px;
    border-radius: 30px;
    gap: 10px;
}
.footer--buttons > a > .arrow{
    transform: rotate(45deg);
}
