.home--container{
    padding: 40px;
    margin-top: 50px;
    padding-bottom: 0;
}
.home--text--button > .big--font{
    font-size: 80px;
}
.home--text--button{
    justify-content: space-between;
}
.pill--cutout{
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 150px;
    border-radius: 150px;
    padding: 50px;
    position: relative;
}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}
.sideNuke{
    object-fit: contain;
    height: 35px;
}
.discuss--button{
    padding: 15px 35px;
    border-radius: 35px;
    border: 1px solid black;
    position: relative;
}
.discuss--button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.twinkle{
    position: absolute;
    width: 10px;
    left: 15px;
    top: 20px;
}
.discuss--your--ideas{
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin: 35px 0px;
}
.discuss--your--ideas > p{
    font-weight: 500;
    font-size: 20px;
}
.home--carousel--image--container{
    width: 100%;
    position: relative;
}
.home--carousel--image--container > img{
    object-fit: contain;
    margin-top: 80px;
}
.arrow--ball{
    background-color: black;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 10%;
    top: 0;
    box-shadow: 2px 2px 0px white;
}
.arrow--ball:hover{
    box-shadow: 5px 5px 0px white;
}
.arrow--ball > .icon{
    color: white;
    transform: rotate(45deg);
}
.arrow--ball:hover > .icon{
    transform: rotate(0deg);
    cursor: pointer;
}

.marquee--container{
    background-color: black;
    height: 10dvh;
    padding: 0px 25px;
    gap: 50px;
    margin-top: -5px;
    overflow: hidden;
}
.marquee{
    justify-content: space-between;
    color: white;
    gap: 50px;
}
.marquee > p{
    font-size: 24px;
}
.marquee > img{
    width: 50px;
}
.our--services--area--container{
    background-color: white;
    padding: 40px;
    position: relative;
}
.backdrop--filter{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    z-index: 11;
    padding: 25px;
    justify-content: flex-start;
    gap: 20px;
}
.unlock{
    gap: 10px;
}
.unlock > .big--font{
    font-size: 3rem;
}
.unlock--button{
    padding: 15px 25px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    gap: 10px;
    width: 190px;
    position: relative;
    justify-content: flex-start;
    overflow: hidden;
}
.unlock--button > img{
    height: 16px;
    object-fit: contain;
    position: absolute;
    left: -50%;
    opacity: 0;
}
.unlock--button:hover{
    color: rgb(0, 255, 0);
    scale: 1.05;
    width: 250px;
}
.unlock--button:hover > .unlock--nuke{
    left: 170px;
    opacity: 1;
}
.our--services--area--container > .big--font{
    font-size: 69px;
}
.our--services--description{
    margin-top: 25px;
    justify-content: flex-start;
    gap: 20px;
}
.our--services--description > img{
    width: 18px;
}
.our--services--description > p{
    font-size: 18px;
    font-weight: 500;
}
.services--carousel--container{
    height: auto;
    margin-top: 60px;
    height: 550px;
    overflow: hidden;
    align-items: flex-start;
}
.services--carousel--left{
    width: 40%;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    position: relative;
}
.services--carousel--left > .main--blob{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100%;
}
.service--floating--blob{
    position: absolute;
    top: 50px;
}
.sfb2, .sfb3{
    width: 70px;
    top: 10%;
}
.sfb2{
    left: 0;
}
.sfb3{
    right: 0;
    top: 20%;
}
.services--carousel--right{
    width: 100%;
    gap: 20px;
    overflow-y: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    animation: servicesAnim 10s ease infinite;
}
.our--team--heading{
    padding-top: 60px;
    justify-content: space-between;
}
.our--team--heading > .big--font{
    font-size: 3.5rem;
    width: 50%;
    margin-right: auto;
}
.our--team--heading > img{
    height: 150px;
    width: 150px;
    margin-right: 5%;
    object-fit: contain;
}
.team--members--tile--container{
    margin-top: 100px;
    gap: 25px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 550px);
    position: relative;
    animation: teamAnim 16s ease-in-out infinite;
}
.lets--discuss--container{
    background-color: black;
    color: white;
    padding: 40px;
    padding-top: 70px;
    margin-top: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    gap: 35px;
}
.lets--discuss--container > div > p{
    font-size: 3.5rem;
    margin-left: auto;
    width: 60%;
    text-align: right;
}
.lets--discuss--container > div > div > img{
    object-fit: contain;
    height: 220px;
    width: 250px;
}
.footer--buttons{
    justify-content: space-around;
}
.footer--buttons > a{
    background-color: white;
    padding: 15px 25px;
    border-radius: 30px;
    gap: 10px;
}
.footer--buttons > a > .arrow{
    transform: rotate(45deg);
}
.pill--cutout{
    justify-content: flex-start;
    overflow: hidden;
}
.pill--cutout:hover{
    scale: 1.05;
    cursor: pointer;
}
.team--members--tile--container{
    justify-content: space-evenly;
}
.lets--discuss--container{
    overflow: hidden;
}
.lets--discuss--container > .text--area{
    position: relative;
}
.lets--discuss--container > .text--area > .vertical--flex{
    gap: 0px;
}
.rocket{
    object-fit: contain;
    height: 100px;
    width: 100px;
    z-index: 0;
    transform: translateY(-200%);
    transition: all 4s ease;
}
.lets--discuss--container:hover .rocket{
    transform: translateY(100px);
}


@media (max-width : 900px) {
    .home--container > .home--text--button, .our--team--heading{
        flex-direction: column;
        text-align: center;
    }
    .pill--cutout{
        scale: 0.75;
    }
    .discuss--your--ideas{
        align-items: center;
        justify-content: center;
    }
    .marquee > p{
        font-size: 1.25rem;
        text-wrap: nowrap;
    }
    .our--services--area--container > .big--font{
        text-align: center;
    }
    .our--services--description{
        justify-content: center;
        text-align: center;
    }
    .services--carousel--container, .team--members--tile--container, .lets--discuss--container > .text--area, .footer--buttons{
        flex-direction: column;
    }
    .services--carousel--container{
        height: auto;
    }
    .services--carousel--left{
        margin-left: auto;
        margin-right: auto;
    }
    .services--carousel--right{
        animation: none;
    }
    .our--team--heading, .footer--buttons{
        justify-content: center;
        align-items: center;
    }
    .our--team--heading > p{
        margin-left: auto;
        width: 500px;
    }
    .lets--discuss--container > .text--area > p{
        text-align: center;
        margin-right: auto;
    }
    .lets--discuss--container > div{
        justify-content: center;
        align-items: center;
    }
    .footer--buttons{
        gap: 25px;
    }
    .footer--buttons > a{
        margin-right: auto;
    }
}


@media (max-width: 500px) {
    .home--container{
        padding: 20px;
        padding-bottom: 0;
    }  
    .home--text--button > .big--font{
        font-size: 3rem;
    } 
    .pill--cutout{
        scale: 0.5;
    }  
    .discuss--your--ideas{
        gap: 15px;
    } 
    .discuss--button > p, .discuss--your--ideas > p{
        font-size: 0.75rem;
    }
    .twinkle{
        top: 40%;
    }
    .arrow--ball{
        scale: 0.5;
        right: -10px;
        top: -50px;
    }
    .home--carousel--image--container > img{
        margin-top: 50px;
    }
    .marquee--container{
        height: 8dvh;
    }
    .marquee > img{
        height: 30px;
        object-fit: contain;
    }
    .marquee > .big--font{
        font-size: 1rem;
    }
    .our--services--area--container{
        padding: 20px;
    }
    .our--services--area--container > .big--font{
        font-size: 3rem;
    }
    .our--services--description{
        gap: 10px;
    }
    .our--services--description > p{
        font-size: 0.65rem;
    }
    .services--carousel--container{
        margin-top: 20px;
    }
    .services--carousel--left{
        width: 60%;
    }
    .service{
        padding: 15px;
        height: auto;
        gap: 25px;
    }
    .service > p{
        font-size: 0.8rem;
    }
    .service .service--button > a, .service > div > a{
        font-size: 0.5rem;
    }
    .service > div{
        align-items: center;
        justify-content: space-between;
    }
    .service--button{
        margin-right: auto;
    }
    .service--arrow{
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
    }
    .service > div > a > .arrow{
        height: 10px;
        width: 10px;
    }
    .our--team--heading{
        padding-top: 30px;
    }
    .our--team--heading > .big--font{
        width: 100%;
        font-size: 3rem;
    }
    .our--team--heading > img{
        padding: 0;
        margin: 0;
    }
    .team--members--tile--container{
        margin-top: 50px;
        animation: mobileTeam 16s ease-in-out infinite;
        gap: 25px;
        grid-template-columns: repeat(8, 350px);
    }
    .team--member--tile{
        width: 80%;
    }
    .lets--discuss--container{
        margin: 70px 10px 10px 10px;
        padding: 30px;
        padding-top: 60px;
    }
    .lets--discuss--container > div > p{
        font-size: 2.5rem;
        width: 100%;
    }
}

@keyframes servicesAnim {
    0%{
        margin-top: 0px;
    }
    15%{
        margin-top: 0px;
    }
    33%{
        margin-top: -150px;
    }
    66%{
        margin-top: -300px;
    }
    90%{
        margin-top: -300px;
    }
    100%{
        margin-top: 0px;
    }
}
@keyframes teamAnim {
    0%{
        margin-left: 0px;
    }
    15%{
        margin-left: -550px;
    }
    30%{
        margin-left: -1125px;
    }
    45%{
        margin-left: -1700px;
    }
    60%{
        margin-left: -2275px;
    }
    75%{
        margin-left: -2850px;
    }
    90%{
        margin-left: -3425px;
    }
    95%{
        margin-left: -3425px;
    }
    100%{
        margin-left: 0px;
    }
}

@keyframes mobileTeam {
    0%{
        margin-left: 0px;
    }
    8%{
        margin-left: 0px;
    }
    15%{
        margin-left: -350px;
    }
    30%{
        margin-left: -725px;
    }
    45%{
        margin-left: -1100px;
    }
    60%{
        margin-left: -1475px;
    }
    75%{
        margin-left: -1850px;
    }
    90%{
        margin-left: -2225px;
    }
    95%{
        margin-left: -2225px;
    }
    100%{
        margin-left: 0px;
    }
}
