.team--cards--container{
    width: 100%;
    height: 350px;
    position: relative;
}
.team--tile{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(233, 232, 232);
    gap: 10px;
    align-items: flex-start;
    justify-content: space-around;
    font-weight: 300;
    font-size: 0.85rem;
    position: absolute;

    -webkit-box-shadow: -5px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 20px 0px rgba(0,0,0,0.75);
}
.top--image{
    background-color: black;
    overflow: hidden;
}
.top--image > img{
    object-fit: cover;
    object-position: center center;
}
.bottom--details, .footer--social{
    width: 100%;
}
.footer--social{
    display: flex;
    flex-direction: column;
}
.bottom--details > .name{
    font-size: 1.25rem;
    font-weight: 700;
}
.social > img{
    width: 50px;
}
.team--tile{
    overflow: hidden;
    width: 80px;
    height: 250px;
}
.top--image, .footer--social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bottom--details{
    opacity: 0;
    scale: 0.5;
}
.team--tile:hover{
    width: 300px;
    height: auto;
}
.team--tile:hover > .top--image{
    width: 270px;
    height: 270px;
}
.team--tile:hover > .bottom--details, .team--tile:hover > .footer--social{
    opacity: 1;
    scale: 1;
    width: 100%;
}
.prabha--tile{
    z-index: 9;
    left: 0;
}
.swetha--tile{
    z-index: 8;
    left: 80px;
}
.mavoc--tile{
    z-index: 7;
    left: 160px;
}
.prashanth--tile{
    z-index: 6;
    left: 240px;
}
.allen--tile{
    z-index: 5;
    left: 320px;
}
.prince--tile{
    z-index: 4;
    left: 400px;
}
.tamil--tile{
    z-index: 3;
    left: 480px;
}
.riyaz--tile{
    z-index: 2;
    left: 560px;
}



@media (max-width: 500px) {
    .team--cards--container{
        width: 100%;
        height: 640px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .team--tile{
        width: 350px;
        height: 80px;
        flex-direction: row;
    }
    .bottom--details{
        width: 150px;
    }
    .team--tile:hover{
        height: auto;
        flex-direction: column;
    }
    .swetha--tile{
        z-index: 8;
        top: 80px;
        left: 0;
    }
    .mavoc--tile{
        z-index: 7;
        top: 160px;
        left: 0;
    }
    .prashanth--tile{
        z-index: 6;
        top: 240px;
        left: 0;
    }
    .allen--tile{
        z-index: 5;
        top: 320px;
        left: 0;
    }
    .prince--tile{
        z-index: 4;
        top: 400px;
        left: 0;
    }
    .tamil--tile{
        z-index: 3;
        top: 480px;
        left: 0;
    }
    .riyaz--tile{
        z-index: 2;
        top: 560px;
        left: 0;
    }
}